.navbar {
    background-color:rgb(178, 190, 181);
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    height: 70px;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    vertical-align: center;
}